In [ ]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

url = 'https://www.worldometers.info/world-population/population-by-country/'

# Get the HTML content
html = requests.get(url).content

# Parse the HTML content
soup = bs(html, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'id': 'example2'})

# Extract the table headers
headers = [th.text.strip() for th in table.find('thead').find_all('th')]

# Extract the table rows
rows = []
for tr in table.find('tbody').find_all('tr'):
    rows.append([td.text.strip() for td in tr.find_all('td')])

# Create a pandas dataframe
df = pd.DataFrame(rows, columns=headers)

# Print the dataframe
print(df)

       # Country (or dependency) Population (2023) Yearly Change  Net Change  \
0      1                   India     1,428,627,663        0.81 %  11,454,490
1      2                   China     1,425,671,352       -0.02 %    -215,985
2      3           United States       339,996,563        0.50 %   1,706,706
3      4               Indonesia       277,534,122        0.74 %   2,032,783
4      5                Pakistan       240,485,658        1.98 %   4,660,796
..   ...                     ...               ...           ...         ...
229  230              Montserrat             4,386       -0.09 %          -4
230  231        Falkland Islands             3,791        0.29 %          11
231  232                    Niue             1,935        0.05 %           1
232  233                 Tokelau             1,893        1.18 %          22
233  234                Holy See               518        1.57 %           8

    Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Med. Age  \
0               481       2,973,190       -486,136        2.0       28
1               152       9,388,211       -310,220        1.2       39
2                37       9,147,420        999,700        1.7       38
3               153       1,811,570        -49,997        2.1       30
4               312         770,880       -165,988        3.3       21
..              ...             ...            ...        ...      ...
229              44             100              0        1.6       44
230               0          12,170              0        1.6       40
231               7             260              0        2.4       36
232             189              10              0        2.6       27
233           1,295               0              0

    Urban Pop % World Share
0          36 %     17.76 %
1          65 %     17.72 %
2          83 %      4.23 %
3          59 %      3.45 %
4          35 %      2.99 %
..          ...         ...
229        11 %      0.00 %
230        62 %      0.00 %
231        41 %      0.00 %
232         0 %      0.00 %
233        N.A.      0.00 %

[234 rows x 12 columns]

In [ ]:
df.head()

,#,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,"1,428,627,663",0.81 %,"11,454,490",481,"2,973,190","-486,136",2.0,28,36 %,17.76 %
1,2,China,"1,425,671,352",-0.02 %,"-215,985",152,"9,388,211","-310,220",1.2,39,65 %,17.72 %
2,3,United States,"339,996,563",0.50 %,"1,706,706",37,"9,147,420","999,700",1.7,38,83 %,4.23 %
3,4,Indonesia,"277,534,122",0.74 %,"2,032,783",153,"1,811,570","-49,997",2.1,30,59 %,3.45 %
4,5,Pakistan,"240,485,658",1.98 %,"4,660,796",312,"770,880","-165,988",3.3,21,35 %,2.99 %

In [ ]:
# Drop the specified columns
df.drop(columns=['Yearly Change', 'Net Change', 'Density (P/Km²)', 'Migrants (net)', 'Fert. Rate', 'Urban Pop %', 'World Share'], inplace=True)

# Print the updated dataframe
print(df.head())

   # Country (or dependency) Population (2023) Land Area (Km²) Med. Age
0  1                   India     1,428,627,663       2,973,190       28
1  2                   China     1,425,671,352       9,388,211       39
2  3           United States       339,996,563       9,147,420       38
3  4               Indonesia       277,534,122       1,811,570       30
4  5                Pakistan       240,485,658         770,880       21

In [ ]:
print(df.columns)

Index(['#', 'Country (or dependency)', 'Population (2023)', 'Land Area (Km²)',
       'Med. Age'],
      dtype='object')

In [ ]:
print(df[['Country (or dependency)','Population (2023)']])

    Country (or dependency) Population (2023)
0                     India     1,428,627,663
1                     China     1,425,671,352
2             United States       339,996,563
3                 Indonesia       277,534,122
4                  Pakistan       240,485,658
..                      ...               ...
229              Montserrat             4,386
230        Falkland Islands             3,791
231                    Niue             1,935
232                 Tokelau             1,893
233                Holy See               518

[234 rows x 2 columns]

In [ ]:
import random

# Get a random country from the 'Country (or dependency)' column
random_country = random.choice(df['Country (or dependency)'])

# Prompt the user to input the population of the random country
user_input = input(f"What is the population of {random_country} in 2023? ")

# Get the actual population of the random country from the dataframe
actual_population = df.loc[df['Country (or dependency)'] == random_country, 'Population (2023)'].values[0]

# Check if the user input matches the actual population
if user_input == actual_population:
    print("Correct!")
else:
    print(f"Incorrect. The population of {random_country} in 2023 is {actual_population}")

What is the population of Grenada in 2023? 899
Incorrect. The population of Grenada in 2023 is 126,183